$('#chart-modal-label').html("<%= escape_javascript(params[:id]) %>");

$('#chart-modal').off('shown.bs.modal')
$('#chart-modal').on('shown.bs.modal', function() {
  new Chartkick.LineChart("chart-modal-content", <%= @metric_usage.to_json.html_safe %>)
});

$('#chart-modal').modal('show');
