= form_for @version do |f|
  - if @version.errors.any?
    #error_explanation
      %h2= "#{pluralize(@version.errors.count, "error")} prohibited this version from being saved:"
      %ul
        - @version.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :version
    = f.text_field :version, class: 'form-control', autofocus: 'autofocus'
  .form-group
    = f.label :details
    = f.text_area :details, class: 'form-control', rows: 12
  .form-row.ml-0
    .form-group
      - if @version.persisted?
        = f.label :vulnerability_type, 'Vulnerable version?'
        .small.text-muted.mb-1
          A vulnerability requires immediate update.
        = f.select :vulnerability_type, vulnerability_type_options_for_select, {}, { class: 'custom-select col-md-8' }
      - else
        = f.label :security_release_type, 'Security release?'
        .small.text-muted.mb-1
          Marks all previous versions of the same monthly release with selection.
        = f.select :security_release_type, vulnerability_type_options_for_select, {}, { class: 'custom-select col-md-6' }
  %hr
  .form-group
    = f.submit 'Save', class: 'btn btn-success'

= link_to 'Back', versions_path
